openapi: "3.0.3"
info:
  title: NVD (National Vulnerability Database)
  version: "2.0.0"
  description: |
    The NVD is the U.S. government repository of standards-based vulnerability management data.
    Search CVEs by keyword, product (CPE name), CVE ID, or date range. Get CVSS scores,
    affected versions, references, and severity ratings. No API key required (optional for higher rate limits).
servers:
  - url: https://services.nvd.nist.gov
    description: NVD API v2.0
tags:
  - name: cves
    description: Common Vulnerabilities and Exposures
  - name: cpes
    description: Common Platform Enumeration (product identifiers)

paths:
  /rest/json/cves/2.0:
    get:
      operationId: search-cves
      summary: Search CVEs
      description: Search vulnerabilities by keyword, CVE ID, CPE name, publication date, or CVSS severity.
      tags: [cves]
      parameters:
        - name: keywordSearch
          in: query
          schema:
            type: string
          description: Full-text search (product name, technology, etc.)
        - name: cveId
          in: query
          schema:
            type: string
          description: Exact CVE ID (e.g. CVE-2024-0727)
        - name: cpeName
          in: query
          schema:
            type: string
          description: CPE 2.3 formatted name to find vulnerabilities for a specific product version
        - name: resultsPerPage
          in: query
          schema:
            type: integer
            default: 20
            maximum: 200
        - name: startIndex
          in: query
          schema:
            type: integer
            default: 0
        - name: pubStartDate
          in: query
          schema:
            type: string
            format: date-time
          description: Filter by publication date (inclusive)
        - name: pubEndDate
          in: query
          schema:
            type: string
            format: date-time
          description: Filter by publication date (inclusive)
        - name: cvssV3Severity
          in: query
          schema:
            type: string
            enum: [LOW, MEDIUM, HIGH, CRITICAL]
          description: Filter by CVSS v3 severity
        - name: hasKev
          in: query
          schema:
            type: boolean
          description: Filter to CVEs in Known Exploited Vulnerabilities catalog
        - name: isVulnerable
          in: query
          schema:
            type: boolean
          description: "true: only CVEs with confirmed vulnerable CPEs"
      responses:
        "200":
          description: CVE search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CveSearchResults"

  /rest/json/cpes/2.0:
    get:
      operationId: search-cpes
      summary: Search CPE names
      description: Search Common Platform Enumeration names to find exact product identifiers for vulnerability lookups.
      tags: [cpes]
      parameters:
        - name: keywordSearch
          in: query
          schema:
            type: string
          description: Search CPE names by keyword
        - name: cpeMatchString
          in: query
          schema:
            type: string
          description: Partial CPE match pattern
        - name: resultsPerPage
          in: query
          schema:
            type: integer
            default: 20
            maximum: 200
        - name: startIndex
          in: query
          schema:
            type: integer
            default: 0
      responses:
        "200":
          description: CPE search results
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CpeSearchResults"

components:
  schemas:
    CveSearchResults:
      type: object
      properties:
        totalResults:
          type: integer
        startIndex:
          type: integer
        resultsPerPage:
          type: integer
        vulnerabilities:
          type: array
          items:
            $ref: "#/components/schemas/CveItem"

    CveItem:
      type: object
      properties:
        cve:
          $ref: "#/components/schemas/Cve"

    Cve:
      type: object
      properties:
        id:
          type: string
          description: "CVE-YYYY-NNNNN"
        sourceIdentifier:
          type: string
        published:
          type: string
          format: date-time
        lastModified:
          type: string
          format: date-time
        vulnStatus:
          type: string
          enum: [Received, Analyzed, Modified, Rejected, Deferred, AwaitignAnalysis]
        descriptions:
          type: array
          items:
            $ref: "#/components/schemas/LangString"
        metrics:
          type: object
          properties:
            cvssMetricV31:
              type: array
              items:
                $ref: "#/components/schemas/CvssMetric"
            cvssMetricV2:
              type: array
              items:
                $ref: "#/components/schemas/CvssMetric"
        references:
          type: array
          items:
            type: object
            properties:
              url:
                type: string
              source:
                type: string
              tags:
                type: array
                items:
                  type: string
        weaknesses:
          type: array
          items:
            type: object
            properties:
              source:
                type: string
              description:
                type: string
              value:
                type: string
                description: CWE ID (e.g. "CWE-787")
        configurations:
          type: array
          items:
            type: object
            properties:
              nodes:
                type: array
                items:
                  type: object
                  properties:
                    operator:
                      type: string
                    negate:
                      type: boolean
                    cpeMatch:
                      type: array
                      items:
                        $ref: "#/components/schemas/CpeMatch"

    CpeMatch:
      type: object
      properties:
        vulnerable:
          type: boolean
        criteria:
          type: string
          description: CPE 2.3 URI
        matchCriteriaId:
          type: string
        versionStartIncluding:
          type: string
        versionStartExcluding:
          type: string
        versionEndIncluding:
          type: string
        versionEndExcluding:
          type: string

    CvssMetric:
      type: object
      properties:
        source:
          type: string
        type:
          type: string
          enum: [Primary, Secondary]
        cvssData:
          $ref: "#/components/schemas/CvssData"
        exploitabilityScore:
          type: number
        impactScore:
          type: number

    CvssData:
      type: object
      properties:
        version:
          type: string
        vectorString:
          type: string
        attackVector:
          type: string
        attackComplexity:
          type: string
        privilegesRequired:
          type: string
        userInteraction:
          type: string
        scope:
          type: string
        confidentialityImpact:
          type: string
        integrityImpact:
          type: string
        availabilityImpact:
          type: string
        baseScore:
          type: number
        baseSeverity:
          type: string

    LangString:
      type: object
      properties:
        lang:
          type: string
        value:
          type: string

    CpeSearchResults:
      type: object
      properties:
        totalResults:
          type: integer
        startIndex:
          type: integer
        resultsPerPage:
          type: integer
        products:
          type: array
          items:
            $ref: "#/components/schemas/CpeItem"

    CpeItem:
      type: object
      properties:
        cpe:
          type: object
          properties:
            deprecated:
              type: boolean
            cpeName:
              type: string
            cpeNameId:
              type: string
            lastModified:
              type: string
              format: date-time
            created:
              type: string
              format: date-time
            titles:
              type: array
              items:
                $ref: "#/components/schemas/LangString"
