openapi: 3.0.3
info:
  title: Seats.aero Partner API
  version: '1.0'
  description: |
    Seats.aero Partner API for award travel availability, cached search, route lists, and trip revalidation details.
servers:
  - url: https://seats.aero/partnerapi
security:
  - PartnerAuthorization: []
components:
  securitySchemes:
    PartnerAuthorization:
      type: apiKey
      in: header
      name: Partner-Authorization
      description: Seats.aero Partner API key.
  parameters:
    Source:
      name: source
      in: query
      required: true
      schema:
        $ref: '#/components/schemas/Source'
      description: Mileage program source identifier.
    Take:
      name: take
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 1000
      description: Number of results to return.
    Skip:
      name: skip
      in: query
      schema:
        type: integer
        minimum: 0
      description: Number of results to skip.
    Cursor:
      name: cursor
      in: query
      schema:
        type: integer
      description: Pagination cursor from the previous response.
    StartDate:
      name: start_date
      in: query
      schema:
        type: string
        format: date
      description: Start date in YYYY-MM-DD format.
    EndDate:
      name: end_date
      in: query
      schema:
        type: string
        format: date
      description: End date in YYYY-MM-DD format.
    Cabin:
      name: cabin
      in: query
      schema:
        $ref: '#/components/schemas/CabinClass'
      description: Cabin class filter.
  schemas:
    Source:
      type: string
      enum: [eurobonus, virginatlantic, aeromexico, american, delta, etihad, united, emirates, aeroplan, alaska, velocity, qantas, connectmiles, azul, smiles, flyingblue, jetblue, qatar, turkish, singapore, ethiopian, saudia]
    CabinClass:
      type: string
      enum: [economy, premium, business, first]
    AvailabilityResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Availability'
        count:
          type: integer
        hasMore:
          type: boolean
        cursor:
          type: integer
      additionalProperties: true
    Availability:
      type: object
      properties:
        ID: { type: string }
        RouteID: { type: string }
        Route:
          $ref: '#/components/schemas/Route'
        Date:
          type: string
          format: date
        Source:
          $ref: '#/components/schemas/Source'
        YAvailable: { type: boolean }
        WAvailable: { type: boolean }
        JAvailable: { type: boolean }
        FAvailable: { type: boolean }
        YDirect: { type: boolean }
        WDirect: { type: boolean }
        JDirect: { type: boolean }
        FDirect: { type: boolean }
        YMileageCost: { type: integer, nullable: true }
        WMileageCost: { type: integer, nullable: true }
        JMileageCost: { type: integer, nullable: true }
        FMileageCost: { type: integer, nullable: true }
        YRemainingSeats: { type: integer, nullable: true }
        WRemainingSeats: { type: integer, nullable: true }
        JRemainingSeats: { type: integer, nullable: true }
        FRemainingSeats: { type: integer, nullable: true }
        YAirlines:
          type: array
          items: { type: string }
        WAirlines:
          type: array
          items: { type: string }
        JAirlines:
          type: array
          items: { type: string }
        FAirlines:
          type: array
          items: { type: string }
      additionalProperties: true
    Route:
      type: object
      properties:
        ID: { type: string }
        OriginAirport: { type: string }
        OriginRegion: { type: string }
        DestinationAirport: { type: string }
        DestinationRegion: { type: string }
        Distance: { type: integer }
        Source:
          $ref: '#/components/schemas/Source'
      additionalProperties: true
    Trip:
      type: object
      properties:
        ID: { type: string }
        RouteID: { type: string }
        Route:
          $ref: '#/components/schemas/Route'
        Segments:
          type: array
          items:
            $ref: '#/components/schemas/TripSegment'
        Duration: { type: integer }
        Stops: { type: integer }
        MileageCost: { type: integer, nullable: true }
        Taxes: { type: number, nullable: true }
        RemainingSeats: { type: integer, nullable: true }
        BookingLinks:
          type: array
          items:
            $ref: '#/components/schemas/BookingLink'
      additionalProperties: true
    TripSegment:
      type: object
      properties:
        FlightNumber: { type: string }
        Aircraft: { type: string }
        OriginAirport: { type: string }
        DestinationAirport: { type: string }
        DepartureTime: { type: string }
        ArrivalTime: { type: string }
        FareClass: { type: string }
        Distance: { type: integer }
      additionalProperties: true
    BookingLink:
      type: object
      properties:
        Label: { type: string }
        Link: { type: string }
        Primary: { type: boolean }
      additionalProperties: true
paths:
  /search:
    get:
      operationId: cachedSearch
      summary: Cached search
      description: Search Seats.aero cached award availability between an origin and destination.
      tags: [availability]
      parameters:
        - name: origin_airport
          in: query
          required: true
          schema: { type: string }
          description: Origin IATA airport code.
        - name: destination_airport
          in: query
          required: true
          schema: { type: string }
          description: Destination IATA airport code.
        - $ref: '#/components/parameters/Cabin'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - name: departure_date
          in: query
          schema:
            type: string
            format: date
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Skip'
        - $ref: '#/components/parameters/Take'
        - name: order_by
          in: query
          schema:
            type: string
            enum: ['', lowest_mileage]
        - name: include_trips
          in: query
          schema: { type: boolean }
        - name: only_direct_flights
          in: query
          schema: { type: boolean }
        - name: carriers
          in: query
          style: form
          explode: false
          schema:
            type: array
            items: { type: string }
      responses:
        '200':
          description: Cached availability results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityResponse'
  /availability:
    get:
      operationId: bulkAvailability
      summary: Bulk availability
      description: Retrieve bulk availability for all tracked routes in a mileage program.
      tags: [availability]
      parameters:
        - $ref: '#/components/parameters/Source'
        - $ref: '#/components/parameters/Cabin'
        - $ref: '#/components/parameters/StartDate'
        - $ref: '#/components/parameters/EndDate'
        - name: origin_region
          in: query
          schema: { type: string }
        - name: destination_region
          in: query
          schema: { type: string }
        - $ref: '#/components/parameters/Take'
        - $ref: '#/components/parameters/Skip'
        - $ref: '#/components/parameters/Cursor'
      responses:
        '200':
          description: Bulk availability results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailabilityResponse'
  /trips/{id}:
    get:
      operationId: getTrip
      summary: Get trip
      description: Get detailed trip information by revalidation/trip ID from search or availability results.
      tags: [trips]
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Trip details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Trip'
  /routes:
    get:
      operationId: getRoutes
      summary: Get routes
      description: Get all origin-destination routes tracked for a mileage program.
      tags: [routes]
      parameters:
        - $ref: '#/components/parameters/Source'
      responses:
        '200':
          description: Route list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Route'
